<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <link href="../static/style.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <title>Task app: Reset password</title>

    </head>
    <body>
      <h1>Task app</h1>
      {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-dark border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}
      <div id = "newpas" class="loginbox">
      <form action="{{ url_for('reset_with_token', token=token) }}" method="post">
        <div class="input-group mb-3">
          <input autocomplete="off" autofocus class="form-control" name="password" placeholder="New password" type="password">
        </div>
        <div class="input-group mb-3">
          <input autocomplete="off" autofocus class="form-control" name="confirmation" placeholder="Repeat new password" type="password">
        </div>
          <button class="btn btn-light" type="submit">Save</button>
        </form>
       </div>

  </body>
  </html>
